@use './variables';

.mat-mdc-form-field-hint {
  cursor: pointer;
}

mat-form-field {
  &:hover .mat-mdc-form-field-hint {
    display: inline;
  }

  .mat-mdc-form-field-hint {
    display: none;
    cursor: pointer;
  }
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

// Manipulate background color on hover and focus
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border: none;
}

mat-drawer {
  width: 180px;
  min-height: 600px;

  &-container {
    overflow: unset !important;
  }

  &-content {
    background-color: #fff;
    overflow: visible !important;

    &.slim {
      padding-left: 63px;
    }
  }

  .sticky-top.title {
    font-size: 14px;
    box-shadow: -1px 1px 2px #999;
    border-radius: 8px;
    margin: 0 2px !important;
  }
}

button#hamburger-menu-button-opened {
  float: right;
}

mat-drawer.filters-side-nav {
  &.slim {
    left: 63px;
    visibility: visible !important;
    display: block;

    button.resize-font ::ng-deep.mat-button-wrapper {
      font-size: 10px;
    }

    ::ng-deep.mat-drawer-inner-container {
      overflow: hidden;
    }

    mat-list-item {
      background-color: variables.$white;
      margin-bottom: 1px;
      cursor: pointer;

      &:hover {
        background-color: variables.$white-2;
      }

      &:not(.selected) mat-icon {
        color: #000000;
      }

      &.selected h4 {
        color: variables.$dark-blue;
      }

      .mat-line {
        text-align: center;
        font-weight: 500 !important;
      }
    }
  }

  &:not(.slim) {
    display: flex;
    flex-direction: column;

    .checkbox-lg ::ng-deep.mat-checkbox-inner-container {
      width: 25px;
      height: 25px;
    }

    mat-form-field ::ng-deep.mat-form-field-underline {
      display: none;
    }
  }

  .mat-drawer__header {
    display: flex;
    justify-content: space-between;
  }

  .drawer-content__container {
    .drawer-spinner__container {
      height: 100vh;
      display: flex;
      align-content: center;

      .drawer-spinner {
        display: flex;
        justify-content: center;
      }
    }
  }

  .mat-drawer__filter {
    padding: 3px;
  }
}

.mat-mdc-form-field-hint {
  cursor: pointer;
  font-size: 0.8rem;

  &:hover {
    display: inline;
  }
}
