@use './variables';
@use 'functions';

table {
  // align checkbox
  label.mat-checkbox-layout {
    margin-bottom: 0px !important;
  }

  &.table-sm td,
  &.table-sm th {
    padding: 0.3rem !important;
    border-bottom: 0px;
  }
}

mat-paginator.small {
  .mat-paginator {
    &-container {
      padding: 0px;
      min-height: auto;
    }

    &-page-size {
      display: none;
    }

    &-range-label {
      margin: 0 5px 0 0;
    }
  }
}

.crud {
  #actions {
    display: inline-block;
    // TODO: check if it's working. Display inline-block will override the float
    // https://developer.mozilla.org/en-US/docs/Web/CSS/float
    float: left;
    margin-left: 5px;
    margin-top: 20px;

    button {
      margin-right: 5px;
    }
  }

  #search {
    width: 40%;
  }

  .scrollable {
    height: functions.reduce-container-height(0px);
    overflow-x: hidden;
  }

  .mat-header-row th {
    background-color: white;
  }

  .mat-header-cell,
  .mat-cell {
    vertical-align: middle;
    padding: 4px;
  }

  .mat-header-cell {
    border: 0px !important;
  }

  .mat-column-select {
    width: 70px !important;
    padding: 0px !important;
    text-align: center;
  }

  .mat-column-actions {
    width: 120px;
    text-align: center;
    padding: 4px !important;
    line-height: 1px;
    // center action column header
    .mat-sort-header-container {
      justify-content: center;
      padding-left: 20px;
    }
    // action icons
    mat-icon {
      //margin: 0 5px;
      cursor: pointer;
      filter: grayscale(100%);

      &:hover {
        filter: brightness(100%);
      }
    }
    // row buttons
    mat-button-toggle-group {
      height: 36px;

      button {
        width: 66px;

        .mat-button-toggle-label-content {
          line-height: 36px;
        }
      }
    }
  }
  // chips for tables
  .mat-standard-chip {
    min-height: 28px !important;
    margin: 2px 4px !important;
  }

  table {
    border: 1px solid variables.$light-grey;
    thead {
      vertical-align: middle;
    }
  }

  tr.mat-header-row {
    border: 1px solid variables.$light-grey;
    background-clip: padding-box;
  }
}

.main-table {
  padding: 15px 15px 0 15px;
}

.mdc-data-table__cell {
  border: 1px solid variables.$light-grey !important;
  vertical-align: middle;
}

tr {
  height: auto !important;
  padding: 3px;
}

/* Adjust cell padding inside rows */
::ng-deep .mat-mdc-cell {
  padding: auto !important; /* Adjust cell padding if needed */
}

.mat-mdc-checkbox .mdc-form-field .mdc-checkbox {
  height: 15px !important;
  width: 20px !important;
  margin: -5px;
}

.mdc-checkbox__background,
.mdc-checkbox__ripple {
  transform: scale(0.85); /* Scale down the inner checkmark and background */
}

.mat-expansion-panel-header-description {
  font-weight: normal;
}

/* Globally adjust MDC icon button sizes */
.mat-mdc-icon-button {
  --mdc-icon-button-state-layer-size: 26px !important;
  --mdc-icon-button-icon-size: 26px !important;
  padding: 0 !important;
  margin-right: 15px;
}

/* Adjust mat-icon size within the button */
.mat-mdc-icon-button .mat-icon {
  width: 26px !important;
  height: 26px !important;
  font-size: 26px !important;
}

.mat-mdc-floating-label {
  font-size: 0.9rem;
}
