$dark: #343a40;
$dark-green: #208537;
$dark-blue: #005cbf;
$dark-red: #8b0000;
$light-red: #f44336;
$dark-orange: #ff8c00;
$orange: #ffa500;
$yellow: #ffd740;
$shade: #999;
$light-grey: #d9d9d9;
$white-2: #f3f3f3;
$white: #ffffff;
$striped-color: rgba(0, 0, 0, 0.05);

$orange-status: #eaa221;
$grey-status: #6c757d;

$lodgement-view-field-label-width: 130px;

$view-container-surplus: 220px;
$view-container-size: calc(100vh - #{$view-container-surplus});

// Text
$text-danger: #dc3545;
