@use './variables';

$z-index: 1009;

form.view,
.form_view {
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  }

  .scrollable {
    height: variables.$view-container-size;
    padding-bottom: 10px;
    z-index: $z-index + 1;
  }
}

.view-actions {
  text-align: right;
  z-index: $z-index;
  position: absolute;
  bottom: 15px;
  right: 25px;
}

mat-toolbar {
  height: 44px !important;
  font-size: 14px !important;
  margin-bottom: 5px !important;
  border-left: 5px solid #ffd740 !important;
}
